body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(240, 233, 233);
}

a {
  color: #00B7FF;
}
header{
  text-align: center;
}
#top {
  margin-bottom: 5px;
  border-radius: 20px;
}

table{
  width: 100%;
  border: 0;
}

#agenda {
    width: 100%;
  }
   

#agenda td {
  padding: 4px;
  
}
#agenda input {
  width: 99%
}
thead {
  background-color: rgb(163, 163, 168)
  
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}